.dashboard-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    
  background-image: url('../../assets/images/dashboard/dashboard-banner.svg');
}
.dashboard-image1 {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  background-image: url('../../assets/images/dashboard/Frame1.svg');
}
.dashboard-image2 {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
background-image: url('../../assets/images/dashboard/Frame2.svg');
}
.dashboard-image3 {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
background-image: url('../../assets/images/dashboard/Frame3.svg');
}